<?xml version="1.0" encoding="utf-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <maksuturva_card_payment>
                <active>0</active>
                <model>Svea\MaksuturvaCard\Model\Card</model>
                <order_status>pending</order_status>
                <title>Svea Payments Card</title>
                <method_filter>FI50;FI51;FI52;FI53;FI54;PIVO;SIIR;</method_filter>
                <default_preselect_method>FI50</default_preselect_method>
            </maksuturva_card_payment>
        </payment>
    </default>
</config>