<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid">
        <arguments>
            <argument name="joins" xsi:type="array">
                <item name="maksuturva_payment_method" xsi:type="array">
                    <item name="table" xsi:type="string">maksuturva_payment_method</item>
                    <item name="origin_column" xsi:type="string">maksuturva_preselected_payment_method</item>
                    <item name="target_column" xsi:type="string">code</item>
                </item>
            </argument>
            <argument name="columns" xsi:type="array">
                <item name="maksuturva_preselected_payment_method" xsi:type="string">maksuturva_payment_method.displayname</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="maksuturvaGateway" type="Svea\Maksuturva\Model\Gateway\Implementation">
        <arguments>
            <argument name="maksuturvaForm" xsi:type="object">Svea\Maksuturva\Model\Form</argument>
        </arguments>
    </virtualType>

    <type name="Svea\Maksuturva\Model\PaymentAbstract">
        <arguments>
            <argument name="implementation" xsi:type="object">maksuturvaGateway</argument>
        </arguments>
    </type>
    <preference for="Svea\Maksuturva\Api\MaksuturvaFormInterface" type="Svea\Maksuturva\Model\Form"/>

    <preference for="Magento\Sales\Model\Order\CreditmemoFactory" type="Svea\Maksuturva\Model\Order\CreditMemoFactory"/>

</config>