<?xml version="1.0" encoding="utf-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <maksuturva_base_payment>
                <active>0</active>
                <model>Svea\MaksuturvaBase\Model\Base</model>
                <order_status>pending</order_status>
                <title>Maksuturva Service</title>
            </maksuturva_base_payment>
        </payment>
    </default>
</config>