<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Svea" translate="label" sortOrder="500">
            <label>Svea Payments</label>
        </tab>
        <section id="maksuturva_config" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Svea Payments Configuration</label>
            <tab>Svea</tab>
            <resource>Svea_Maksuturva::system_config</resource>
            <group id="maksuturva_payment" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Svea Payments Configuration</label>

                <field id="sandboxmode" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sandbox Mode (if no, then production is used)</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="sellerid" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Production Seller ID</label>
                </field>
                <field id="secretkey" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Production Secret Key</label>
                </field>
                <field id="commurl" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Production Endpoint API URL</label>
                </field>

                <field id="test_sellerid" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sandbox Seller ID</label>
                </field>
                <field id="test_secretkey" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sandbox Secret Key</label>
                </field>
                <field id="test_commurl" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sandbox Endpoint API URL</label>
                </field>

                <field id="keyversion" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Key Version</label>
                    <validate>required-entry</validate>
                </field>

                <field id="locale" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Locale</label>
                    <source_model>Svea\Maksuturva\Model\Source\AllowedLocale</source_model>
                </field>

                <field id="paymentdue" translate="label" type="text" sortOrder="105" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment due date</label>
                    <validate>validate-not-negative-number</validate>
                </field>

                <field id="commencoding" translate="label" type="radios" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Communication Encoding</label>
                    <source_model>Svea\Maksuturva\Model\Source\Encoding</source_model>
                </field>

                <field id="cron_active" translate="label" type="select" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Query Svea Payments API for order status automatically</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <comment><![CDATA[If payment method can't verify payment immediately or customer fails to return to webshop with payment data, this option enables cronjob to query status of orders pending payment.]]></comment>
                    <validate>required-entry</validate>
                </field>

                <field id="manually_query_in_hour" translate="label" type="button" sortOrder="145" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Manually Query Svea Payments API for orders (short)</label>
                    <frontend_model>Svea\Maksuturva\Block\Form\Button</frontend_model>
                </field>
                <field id="manually_query_in_day" translate="label" type="button" sortOrder="146" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Manually Query Svea Payments API for orders (long)</label>
                    <frontend_model>Svea\Maksuturva\Block\Form\Button</frontend_model>
                </field>

                <field id="preselect_payment_method" translate="label" type="select" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Preselect payment method in webshop</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <comment><![CDATA[Select payment method in webshop instead of Svea Payments' service. If it is disabled, then only FI01 will be used]]></comment>
                    <validate>required-entry</validate>
                </field>

                <field id="delayed_capture" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Delayed capture methods</label>
                    <comment><![CDATA[When using Svea Payments payment methods supporting delayed capture (ie. shipment notices), those methods can be specified here. These methods must be verified from Maksuturva. Format is: code1,code2]]></comment>
                </field>

                <field id="generate_invoice" translate="label" type="select" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Generate invoice automatically</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>To generate invoice when customer paid</comment>
                </field>

                <field id="order_status" translate="label" type="select" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>New Order Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                </field>

                <field id="paid_order_status" translate="label" type="select" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Paid Order Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                </field>

                <field id="canceled_order_status" translate="label" type="select" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Canceled Order Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                </field>

                <field id="can_cancel_settled" translate="label" type="select" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable settled cancellation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Allow the canceling of settled payments. This will be attempted, if normal canceling fails.]]></comment>
                </field>

            </group>
        </section>
    </system>
</config>
