<?xml version="1.0" encoding="utf-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <maksuturva_cod_payment>
                <active>0</active>
                <model>Svea\MaksuturvaCod\Model\Cod</model>
                <order_status>pending</order_status>
                <title>Svea Payments Cod</title>
                <method_filter>FI30</method_filter>
                <default_preselect_method>FI30</default_preselect_method>
            </maksuturva_cod_payment>
        </payment>
    </default>
</config>