<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="maksuturva_collated_payment" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Svea Payments Collated</label>
                <field id="active" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[This payment method can be used to collect all Svea payments under the same payment method in Magento checkout]]></comment>
                </field>

                <field id="title" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort Order</label>
                </field>

                <field id="locale" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Locale</label>
                    <source_model>Svea\Maksuturva\Model\Source\AllowedLocale</source_model>
                </field>

                <field id="preselect_form_type" translate="label" type="select" sortOrder="155" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Preselect form type</label>
                    <source_model>Svea\Maksuturva\Model\System\Config\Source\Formtype</source_model>
                    <validate>required-entry</validate>
                </field>

                    <field id="pay_later" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>1st payment method subgroup title</label>
                        <comment><![CDATA[Default: Pay later]]></comment>
                    </field>
                    <field id="pay_later_method_filter" translate="label" type="text" sortOrder="161" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment Methods Filter</label>
                        <comment><![CDATA[List of 1st subgroup payment methods, separated by ; (Default: FI70;FI71;FI72)]]></comment>
                    </field>
                    <field id="pay_later_handling_fee" translate="label" type="text" sortOrder="162" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Handling Fee</label>
                        <comment><![CDATA[Enter handling fee amount(s) that will be added to total when a payment method is selected. For example "10;FI70=5;FI72=3.5" results into payment method FI70 getting a fee of 5,00, FI72 getting a fee of 3,50 and all other payment methods getting a fee of 10,00. Default: empty]]></comment>
                    </field>
                    <field id="pay_now_other" translate="label" type="text" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>2nd payment method subgroup title</label>
                        <comment><![CDATA[Default: Pay now with mobile payment or card]]></comment>
                    </field>
                    <field id="pay_now_other_method_filter" translate="label" type="text" sortOrder="171" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment Methods Filter</label>
                        <comment><![CDATA[List of 2nd subgroup payment methods, separated by ; (Default: FI50;FI51;FI52;FI53;FI54;PIVO;SIIR)]]></comment>
                    </field>
                    <field id="pay_now_other_handling_fee" translate="label" type="text" sortOrder="172" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Handling Fee</label>
                        <comment><![CDATA[See above]]></comment>
                    </field>
                    <field id="pay_now_bank" translate="label" type="text" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>3rd payment method subgroup</label>
                        <comment><![CDATA[Default: Pay now with online banking]]></comment>
                    </field>
                    <field id="pay_now_bank_method_filter" translate="label" type="text" sortOrder="181" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment Methods Filter</label>
                        <comment><![CDATA[List of 3rd subgroup payment methods, separated by ; (Default: FI01;FI02;FI03;FI04;FI05;FI06;FI07;FI08;FI09;FI10;FI11;FI12;FI13;FI14;FI15)]]></comment>
                    </field>
                    <field id="pay_now_bank_handling_fee" translate="label" type="text" sortOrder="182" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Handling Fee</label>
                        <comment><![CDATA[See above]]></comment>
                    </field>
            </group>
        </section>
    </system>
</config>
