<?xml version="1.0" encoding="utf-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <maksuturva_masterpass>
                <active>0</active>
                <model>Svea\MaksuturvaMasterpass\Model\Masterpass</model>
                <order_status>pending</order_status>
                <title>Maksuturva Masterpass</title>
                <keyversion>1</keyversion>
                <default_preselect_method>FI55</default_preselect_method>
                <test_commurl>http://test1.maksuturva.fi/</test_commurl>
                <commurl>https://payments.maksuturva.fi/</commurl>
            </maksuturva_masterpass>
        </payment>
    </default>
</config>