<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Piimega\MaksuturvaMasterpass\Model\Gateway\Initialization">
        <arguments>
            <argument name="maksuturvaForm" xsi:type="object">Piimega\MaksuturvaMasterpass\Model\Form\InitializePayment</argument>
        </arguments>
    </type>

    <type name="Piimega\MaksuturvaMasterpass\Model\Gateway\Payment">
        <arguments>
            <argument name="maksuturvaForm" xsi:type="object">Piimega\MaksuturvaMasterpass\Model\Form\FinalizePayment</argument>
        </arguments>
    </type>

    <type name="Piimega\MaksuturvaMasterpass\Model\Gateway\Implementation">
        <arguments>
            <argument name="maksuturvaHelper" xsi:type="object">Piimega\MaksuturvaMasterpass\Helper\Data</argument>
        </arguments>
    </type>

    <type name="Piimega\MaksuturvaMasterpass\Controller\AbstractController">
        <arguments>
            <argument name="maksuturvaHelper" xsi:type="object">Piimega\MaksuturvaMasterpass\Helper\Data</argument>
        </arguments>
    </type>

    <virtualType name="initializeMasterpass" type="Piimega\MaksuturvaMasterpass\Model\Masterpass">
        <arguments>
            <argument name="implementationGateway" xsi:type="object">Piimega\MaksuturvaMasterpass\Model\Gateway\Initialization</argument>
        </arguments>
    </virtualType>

    <virtualType name="finalizeMasterpass" type="Piimega\MaksuturvaMasterpass\Model\Masterpass">
        <arguments>
            <argument name="implementationGateway" xsi:type="object">Piimega\MaksuturvaMasterpass\Model\Gateway\Payment</argument>
        </arguments>
    </virtualType>

    <type name="Piimega\MaksuturvaMasterpass\Controller\Index\Initialize">
        <arguments>
            <argument name="masterpass" xsi:type="object">initializeMasterpass</argument>
        </arguments>
    </type>

    <type name="Piimega\MaksuturvaMasterpass\Controller\Index\PlaceOrder">
        <arguments>
            <argument name="masterpass" xsi:type="object">finalizeMasterpass</argument>
        </arguments>
    </type>

    <type name="Magento\Checkout\Model\DefaultConfigProvider">
        <plugin name="masterpass-prepare-customer-address"
                type="Piimega\MaksuturvaMasterpass\Plugin\Checkout\Model\DefaultConfigProviderPlugin" sortOrder="100"/>
    </type>

    <type name="Magento\Quote\Model\Quote">
        <plugin name="masterpass-reset-customer-address"
                type="Piimega\MaksuturvaMasterpass\Plugin\Quote\Model\QuotePlugin" sortOrder="100"/>
    </type>

    <type name="Magento\Checkout\Block\Cart\Sidebar">
        <plugin name="new_masterpass_url" type="Piimega\MaksuturvaMasterpass\Plugin\Checkout\Block\Cart\ConfigPlugin" sortOrder="20" />
    </type>
</config>