<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="maksuturva_card_payment" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Maksuturva Card</label>
                <field id="active" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="title" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort Order</label>
                </field>

                <field id="locale" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Locale</label>
                    <source_model>Svea\Maksuturva\Model\Source\AllowedLocale</source_model>
                </field>

                <field id="method_filter" translate="label" type="text" sortOrder="125" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Method Filter</label>
                    <comment><![CDATA[allowed payment method seperated by ;]]></comment>
                </field>

                <field id="default_preselect_method" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Method Code</label>
                    <comment><![CDATA[The default method be used to when no bank be selected]]></comment>
                </field>

                <field id="preselect_form_type" translate="label" type="select" sortOrder="155" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Preselect form type</label>
                    <source_model>Svea\Maksuturva\Model\System\Config\Source\Formtype</source_model>
                    <validate>required-entry</validate>
                </field>
            </group>
        </section>
    </system>
</config>
